/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.titulo-principal {
    font-size: 2rem;
    margin-bottom: 20px;
    align-items: center;
}

.contenedor-clientes {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Ajuste de espaciado entre clientes */
}

/* Estilos para cada cliente */
.cliente {
    border: 2px solid #0c0b0b; /* Corregido el error en la declaración de borde */
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear verticalmente los elementos */
}

.cliente-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    background-color: #030303;
    color: #f8f9fa;
    padding: 10px;
    font-weight: bold;
}

.cliente-imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px; /* Espaciado a la derecha para separar la imagen de los detalles */
}

.cliente-detalle {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Espaciado a la derecha para separar los detalles */
}

.cliente-detalle p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
}

/* Estilos para botones de acción */
.botones-acciones {
    display: flex;
    flex-direction: column; /* Alinear los botones verticalmente */
    margin-top: 10px; /* Espaciado hacia arriba para separar los botones */
}

.cliente-eliminar,
.cliente-ver-pedidos {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px; /* Espaciado entre botones */
}

.cliente-eliminar:hover,
.cliente-ver-pedidos:hover {
    background-color: #ff3333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cliente-imagen {
        margin-right: 0; /* Eliminar el margen derecho en dispositivos móviles */
        margin-bottom: 10px; /* Agregar margen inferior para separar la imagen */
    }
}
