/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #111010;
    color: #fff;
}

.container-form {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 5px;
    color: #080808;
}

/* Estilos para los íconos */
.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #080808;
    border-radius: 50%;
    margin-right: 10px;
}

i {
    color: #e9e9e9;
    font-size: 16px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #070606;
    border-radius: 10px;
}

/* Estilos para el botón de envío */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #060707;
    font-family: "Bold", sans-serif;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.password-requirements {
    margin-top: 10px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none; /* Para quitar los puntos de la lista */
}

.password-requirements li {
    margin-bottom: 5px; /* Espacio entre los elementos de la lista */
}

label {
    display: flex;
    align-items: center;
}