/* Estilos para el modal */
.modal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed; /* Permanece fijo en la ventana */
    z-index: 1; /* Por encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Toma todo el ancho */
    height: 100%; /* Toma toda la altura */
    overflow: auto; /* Permite desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.6); /* Fondo semi-transparente */
    padding-top: 60px; /* Separación superior para la barra de título */
}

.modal-content {
    background-color: #1c1c1c; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%; /* Ancho del contenido del modal */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* Bordes redondeados */
}

.close {
    color: #ccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la distribución de columnas */
.form-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%; /* Ancho de cada columna */
}

.column label,
.column select,
.column input[type="file"] {
    display: block;
    margin-bottom: 10px;
    color: #ffffff; /* Texto blanco */
}

.column select,
.column input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333333; /* Fondo gris oscuro */
    color: #ffffff; /* Texto blanco */
}

.column textarea,
.column input[type="text"],
.column input[type="number"] {
    width: calc(100% - 20px); /* Ajusta el ancho del campo de entrada */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.column button {
    background-color: #000000; /* Negro */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.column button:hover {
    background-color: #333333; /* Gris oscuro al pasar el mouse */
}
