@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --clr-main: #000000;
    --clr-main-light: #282630;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--clr-white);
    color: var(--clr-main);
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4081;
}

.container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #383034;
    color: #fff;
    position: fixed;
    top: 0;
    left: -1150px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 20px;
    overflow-y: auto;
}

.container.show .sidebar {
    left: 0;
}

.sidebar .side-hide {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

.sidebar img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    font-family: bold;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #140f11;
    border-left: 4px solid #ffeb3b;
}

/* Button to Show Sidebar */
button {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
    outline: none;
}

button img {
    width: 40px;
}

.logo img {
    width: 200px;
    height: 150px;
}

header {
    background-color: #c4c3c0;
    padding: 20px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}

.login {
    display: inline-block;
    background-color: #fffcfc; 
    padding: 22px 30px;
    border-radius: 50px; 
    border: 2px solid #333;
}

.login i {
    margin-right: 5px; 
}

.login a {
    color: #333; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado del enlace */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para el efecto hover en el enlace de inicio de sesión */
.login a:hover {
    color: #cea902; /* Cambiar color al pasar el cursor */
}

.login:hover {
    box-shadow: 0 0 0 4px #f36f04; 
}

.menu {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
    text-align: center; /* Centra los elementos de la lista */
}

.menu li {
    display: inline-block; 
    margin-right: 10px; 
}

.menu li a {
    text-decoration: none; 
    color: #f8efef; 
    font-weight: bold;
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #000; 
    border-radius: 10px; 
}

.menu li a:hover {
    background-color: #7508f1; 
    color: #c54b4b; 
}

/* Banner Styles */
.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 15rem 0;
}

.content-banner p {
	color: #fffbfb;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 1.2;
}

.content-banner a {
    display: inline-block; /* Mostrar como bloque en línea */
    padding: 20px 30px; /* Rellenar el botón */
    background-color: #ff5722; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    text-decoration: none; /* Quitar subrayado del enlace */
    border-radius: 50px; /* Borde redondeado del botón */
    font-weight: bold;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilos para el enlace al pasar el cursor */
.content-banner a:hover {
    background-color: #020101; /* Cambiar color de fondo al pasar el cursor */
}

/* Estilos para el contenido que se oculta/inicia oculto */
.content {
    display: none;
}

/* Estilos para mostrar el contenido cuando la clase 'active' está presente */
.content.active {
    display: block;
}


/* Nosotros Section */
.nosotros {
    padding: 20px;
    background-color: var(--clr-white);
}

.item {
    margin-bottom: 20px;
    border: 1px solid #524343;
    border-radius: 5px;
    overflow: hidden;
}

.toggle {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.toggle:hover {
    background-color: #2e141c;
}

.content {
    display: none;
    background-color: #c4a2a2;
    padding: 10px;
    border-top: 1px solid #6b1919;
}

.content.active {
    display: block;
}


/* Preguntas Frecuentes ESTILOS /*

/* Estilo para centrar el título */
.titulo-centrado {
    text-align: center;
}

/* Estilo para las columnas */
.columnas {
    display: flex;
    justify-content: space-between;
}

/* Estilo para cada columna */
.columna {
    flex-basis: calc(33.33% - 20px); /* Dividir en 3 columnas con margen */
    margin-right: 20px; /* Espacio entre columnas */
}

/* Estilo para cada pregunta */
.faq-item {
    border: 3px solid #0c0b0b; /* Borde sólido de color gris */
    padding: 10px; /* Espacio interno dentro del borde */
    margin-bottom: 20px; /* Espacio entre preguntas */
    min-height: 100px; /* Altura mínima para cada pregunta */
    box-sizing: border-box; /* Incluir tamaño del borde y relleno en el ancho y alto */
    border-radius: 50px;
}


/* Footer Styles */
.footer {
    background-color: var(--clr-main);
    color: #fff;
    padding: 50px 0;
}

.container-footer {
    display: flex;
    justify-content: space-around;
}

.menu-footer {
    display: flex;
}

.columna {
    flex: 1;
    margin: 0 70px; 
}

.social-icons{
	display: flex;
	gap: 1.5rem;
}

.social-icons span{
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i{
	color: #fff;
	font-size: 1.2rem;
}
.social-icons {
    margin-bottom: 20px;
}

.social-icons span {
    margin-right: 10px;
}

.facebook{
	background-color: #3b5998;
}

.twitter{
	background-color: #00acee;
}

.youtube{
	background-color: #c4302b;
}

.instagram {
	background: linear-gradient(#405de6,#833ab4,#c13584,#e1306c,#fd1d1d,#f56040,#fcaf45);
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.ubicacion img {
    width: 200%;
    max-width: 300px;
    height: auto;
}

.cuenta-administrador {
    font-family: Arial, sans-serif;    /* Fuente */
    font-size: 16px;                   /* Tamaño de fuente */
    font-weight: bold;                 /* Grosor de la fuente */
    text-decoration: underline;        /* Subrayar el texto */
    color: #ffffff;                    /* Color del texto */
    padding: 10px 20px;                /* Espaciado interno */
    margin: 10px;                      /* Espaciado externo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        left: -100%;
    }

    .container.show .sidebar {
        left: 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }
}
