@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: url('/src/img/background_admin.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
}

.titulo-principal {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 4px 2px 4px rgba(172, 34, 34, 0.5);
}

.admin-login-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.admin-login-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 500;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.input-field:focus {
    border-color: #ff8f00;
    box-shadow: 0 0 8px rgba(255, 143, 0, 0.4);
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 35px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff8f00;
}

.error-message {
    color: #ff6f00;
    font-size: 0.9em;
    margin-top: 5px;
    display: none;
}

.submit-button {
    padding: 12px 30px;
    background-color: #ff8f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
    background-color: #ff6f00;
}

.submit-button:focus {
    outline: none;
}

.submit-button:active {
    transform: scale(0.98);
}

.olvido, .help {
    margin-top: 10px;
    font-size: 0.9em;
}

.olvido a, .help a {
    color: #ff8f00;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.olvido a:hover, .help a:hover {
    text-decoration: underline;
    color: #ff6f00;
}
