/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1.titulo-principal {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Centrado del título */
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.linea-separadora {
    border-bottom: 2px solid #ccc; /* Línea inferior de 2px de grosor y color gris */
    margin-bottom: 20px; /* Espacio añadido debajo de la línea */
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.input-field:focus {
    border-color: #ff8f00;
    box-shadow: 0 0 8px rgba(255, 143, 0, 0.4);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-button {
    padding: 12px 20px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.cancel-button:hover {
    background-color: #ccc;
}

.cancel-button:focus {
    outline: none;
}

.cancel-button:active {
    transform: scale(0.98);
}

.submit-button {
    padding: 12px 30px;
    background-color: #ff8f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
    background-color: #ff6f00;
}

.submit-button:focus {
    outline: none;
}

.submit-button:active {
    transform: scale(0.98);
}

.volver-login {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    font-size: 0.9em;
}

.volver-login a {
    color: #0f0a0a;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.volver-login a:hover {
    text-decoration: underline;
    color: #aa0c0c;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
