/* Estilos para el contenedor del formulario */
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
form {
    font-family: Arial, sans-serif;
}

/* Estilos para los elementos del formulario */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: calc(100% - 20px);
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para los mensajes de error */
.error {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Estilos para centrar el formulario en dispositivos móviles */
@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}
