/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input[type="date"],
input[type="number"],
select {
    width: calc(100% - 24px); /* Ajustar ancho para evitar desbordamientos */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="button"],
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacio superior */
}

button[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos específicos para la sección de productos */
.producto {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
}

.producto label,
.producto select,
.producto input[type="number"] {
    display: block;
    margin-bottom: 10px;
}

#productos-container {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }
}
