body{
    padding: 50px;
    font-family: sans-serif;
}

button{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}