body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    border-bottom: 2px solid #444; /* Línea debajo del menú */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto 0;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0e0c0c;
    text-decoration: underline;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

.profile-info p {
    margin: 5px 0;
}

.titulo{
    font-family: 'Bold', sans-serif;
    text-decoration: underline;
}

.profile-info strong {
    color: #555;
}

section {
    margin-top: 20px;
}
