body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    justify-content: space-between; /* Distribuye los elementos para que ocupen toda la fila */
    width: 100%; /* Asegura que el encabezado ocupe toda la anchura */
    padding: 10px 20px; /* Añade un poco de espacio alrededor del contenido */
    background-color: #f8f9fa; /* Fondo opcional para el encabezado */
    box-sizing: border-box; /* Incluye el padding en el tamaño total del elemento */
}

/* Estilo de la imagen del logo */
.header img.lgo {
    height: 50px; /* Ajusta la altura del logo según sea necesario */
    width: auto; /* Mantén la proporción del logo */
}

/* Estilo del contenedor de navegación */
.header nav {
    /* No necesitas flex-grow aquí, solo asegúrate de que el nav se alinee a la derecha */
}

/* Estilo de la lista del menú de navegación */
.menu-nav {
    display: flex;
    list-style: none; /* Elimina las viñetas de la lista */
    margin: 0;
    padding: 0;
}

/* Estilo de los elementos de la lista */
.menu-nav li {
    margin-left: 20px; /* Espacio entre los elementos del menú */
}

/* Estilo de los enlaces del menú */
.menu-nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #000; /* Ajusta el color del texto del enlace */
    font-weight: bold; /* Opcional: hace que el texto del enlace sea negrita */
    padding: 10px; /* Espacio dentro de los enlaces */
}

/* Opcional: cambia el color del enlace al pasar el cursor */
.menu-nav a:hover {
    color: #007bff; /* Ajusta el color del texto del enlace al pasar el cursor */
}

.container {
    margin: auto; /* Centra el contenedor horizontalmente */
    max-width: 800px;
    padding: 20px;
}

.h1{
    text-align: center;
    text-decoration: underline;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-img {
    border-radius: 50%;
    margin-right: 30px;
    width: 150px;
    height: 150px;
}

.profile-info {
    text-align: left;
}

.titulo {
    font-weight: bold;
    text-decoration: underline;
}
