/* Estilos para el contenedor de botones */
#contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilos para el contenedor de búsqueda */
#contenedor-busqueda {
    display: flex;
    align-items: center;
}

/* Estilos para el campo de búsqueda */
#buscar {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #181212;
    border-radius: 5px 0 0 5px;
}

/* Estilos para el botón de búsqueda */
#boton-buscar {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #131416;
    color: #fff;
    border: 2px solid #101113;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-buscar:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos para el botón de agregar producto */
.boton-agregar {
    padding: 8px 20px;
    font-size: 16px;
    font-family: 'Bold', sans-serif;
    background-color: #141815;
    color: #fff;
    border: 2px solid #111311;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton-agregar:hover {
    background-color: #218838;
}



/* Estilos para los productos */
.producto {
    display: flex;
    flex-direction: column; /* Cambiado a columna */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.producto-contenido {
    display: flex;
    align-items: center; /* Centrar los detalles verticalmente */
    padding: 8px;
}

.producto-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.producto-detalles {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto-titulo {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.producto-precio,
.producto-cantidad {
    margin: 5px 0;
    font-size: 16px;
}

.eliminar-producto {
    background-color: #0f0c0d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eliminar-producto:hover {
    background-color: #e20829;
}
