/* Estilos adicionales para clientesAdmin.css */

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto;
}

/* Estilos de la tabla */
table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border: 2px solid #000000;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0f0f0f;
    color: #ffffff;
    font-weight: bold;
    
}

/* Estilo para filas impares */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Estilo para imágenes */
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.btn-delete {
    padding: 8px 16px;
    margin-right: 5px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}

.btn-edit {
    padding: 10px 10px;
    font-size: 11px;
    margin-right: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}

.btn-ver-pedidos {
    background-color: #4CAF50;
}

.btn-eliminar:hover, .btn-ver-pedidos:hover {
    background-color: #d32f2f;
}