RewriteEngine On
RewriteBase /proyecto_LicoreriaYOLO/

# Redirigir todas las solicitudes que no sean archivos o directorios existentes a index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ html/index.html [L]

# Permitir acceso directo a archivos .php y .js
RewriteRule \.php$ - [L]
RewriteRule \.js$ - [L]
